-e .
cycler
decorator
imageio
kiwisolver
matplotlib
networkx
numpy
Pillow
pyparsing
python-dateutil
PyWavelets
scikit-image
scipy
six
webcolors
imreg_dft
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
